.modal {
  width: 480px;
  z-index: 20;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  border-radius: 6px;
  padding: 32px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  gap: 24px;
  background-color: rgb(36, 34, 34);
}